---
title: Built with
permalink: /built-with/index.html
description: 'A list of sites based on / built with Eleventy Excellent. Add yours by submitting a pull request!'
layout: page
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
---

<p>
  Lorem ipsum built with
</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "divider" %}

  {% svg "divider/soft-bottom", null, "divider" %}
</article>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
